
.ourServices_items {
  border: 1px solid #4b4136;
}
.ourServices_items img {
  width: 40px;
  height: 40px;
}
.ourServices_yellowTextLight,
.ourServices_yellowTextDark {
  font: 400 24px/34px "Old+Standard+TT";
  padding: 20px 0 10px 61px;
}
.ourServices_yellowTextLight {
  color: #000000;
}
.ourServices_yellowTextDark {
  color: #ffae2b;
}
.ourServices_grayTextLight,
.ourServices_grayTextDark {
  font: 400 15px/26px "Old+Standard+TT";
  padding: 0 0 5px 61px;
}
.ourServices_grayTextLight {
  color: #000000;
}
.ourServices_grayTextDark {
  color: #aca592;
}
.ourServices_graySmallTextLight,
.ourServices_graySmallTextDark {
  font: 400 11px/26px "Old+Standard+TT";
  padding: 0 117px 76px 61px;
}
.ourServices_graySmallTextLight {
  color: #000000;
}
.ourServices_graySmallTextDark {
  color: #aca592;
}
