.subscribeBlock,
.subscribe {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
text-align: center;
}

.subscribeBlock_YellowTextDark,
.subscribeBlock_YellowTextLight {
font: 400 60px/70px "Old+Standard+TT";
color: #ffae2b;
margin-bottom: 20px;
}

.subscribeBlock_YellowTextLight {
color: #000000;
}

@media (max-width: 767px) {
.subscribeBlock_YellowTextDark,
.subscribeBlock_YellowTextLight {
font: 300 40px/50px "Old+Standard+TT";
}
}

.subscribeBlock_someTextDark,
.subscribeBlock_someTextLight {
font: 400 12px/28px "Old+Standard+TT";
color: #aca592;
margin-bottom: 82px;
}

.subscribeBlock_someTextLight {
color: #000000;
}

@media (max-width: 767px) {
.subscribeBlock_someTextDark,
.subscribeBlock_someTextLight {
margin: 0 30px 50px 30px;
}
}

.sub_expl_btnDark,
.sub_expl_btnLight {
margin-bottom: 20px;
font: 400 14px/20px "Old+Standard+TT";
}

.sub_expl_btnDark {
color: #aca592;
}

.sub_expl_btnLight {
color: #000000;
}

@media (max-width: 767px) {
.sub_expl_btnDark,
.sub_expl_btnLight {
margin: 30px;
}
}

.subscribe {
width: 40%;
margin-bottom: 30px;
}

@media (max-width: 991px) {
.subscribe {
width: 60%;
}
}

@media (max-width: 767px) {
.subscribe {
width: 75%;
margin-bottom: 0;
}
}

.subscribe input {
width: 100%;
height: 53px;
padding: 20px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border-radius: 5px;
border: 1px solid #4b4136;
background-color: #ffffff;
}

.subscribe input:hover {
border: 1px solid #ffae2b;
}

.subscribe input:focus {
background-color: #00ffc8;
}

.subscribe_button {
width: 100%;
height: 53px;
font: 400 18px/25px "Old+Standard+TT";
color: #181511;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border-radius: 5px;
background-color: #ffae2b;
}

.subscribe_button:hover {
border: 2px solid #00ffc8;
color: #00ffc8;
background: #786740;
}