:root {
  --footer-bg-color: #4b4136;
  --footer-text-color-dark: #ffae2b;
  --footer-text-color-light: #000000;
  --footer-text-hover-color: #00ffc8;
  --footer-gray-text-color: #aca592;
}

.footerDark,
.footerLight {
  border-top: 1px solid var(--footer-bg-color);
  margin: 0 120px;
}

@media (max-width: 991px) {
  .footer {
    margin: 0 60px;
  }
}

@media (max-width: 565px) {
  .footer {
    margin: 0 30px;
  }
}

@media (max-width: 320px) {
  .footer {
    margin: 0 15px;
  }
}

.footerDark a,
.footerLight a {
  font: 400 12px/30px "Old+Standard+TT";
  margin-left: 5px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.footerDark a {
  color: var(--footer-text-color-dark);
}

.footerDark a:hover {
  color: var(--footer-text-hover-color);
}

.footerLight a {
  color: var(--footer-text-color-light);
}

.footerLight a:hover {
  color: var(--footer-text-color-dark);
}

.footer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font: 400 14px/18px "Old+Standard+TT";
  height: 80px;
}

.footer_grayTextDark,
.footer_grayTextLight {
  font: 400 14px/18px "Old+Standard+TT";
  color: var(--footer-gray-text-color);
}

.footer_grayTextLight {
  color: var(--footer-text-color-light);
}

.footer_powered {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.footer_rightRefBorder {
  border-left: 1px solid var(--footer-bg-color);
  border-right: 1px solid var(--footer-bg-color);
  padding: 0 5px;
}